@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
  background-color: rgb(248 250 252);
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* @layer components {
  .card-budget-style {
    @apply w-full
    rounded-4xl
    flex
    flex-col
    gap-1
    mb-2 mt-4
    bg-purple-100 p-2
    hover:bg-violet-200
    focus:outline-2
    focus:outline-violet-400
    text-zinc-800
    shadow-blue-900
    border-fuchsia-900
    shadow-[7px_7px_0px_0px_blue-900]
    drop-shadow-lg
    border-3;
  }

  .card-budget-style-checked {
    @apply border-3
    bg-violet-200;
  }
} */


.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bricolage-grotesque-wizard {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}